# Ignore system directories
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# Ignore common unwanted files and directories
.VirtualBox/
.android/
.bash_history
.cache/
.config/
.emulator_console_auth_token
.gradle/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.nbi/
.streamlit/
.vscode/
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
*.TM.blf
*.TMContainer*.regtrans-ms
Desktop/
*.docx
*.pptx
*.pdf
Pictures/
Saved Games/
Searches/
Videos/
VirtualBox VMs/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
package-lock.json
package.json
# Ignore system directories
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# Ignore common unwanted files and directories
.VirtualBox/
.android/
.bash_history
.cache/
.config/
.emulator_console_auth_token
.gradle/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.nbi/
.streamlit/
.vscode/
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
*.TM.blf
*.TMContainer*.regtrans-ms
Desktop/
*.docx
*.pptx
*.pdf
Pictures/
Saved Games/
Searches/
Videos/
VirtualBox VMs/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
package-lock.json
package.json
